.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 172px;
}