.container {
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    border: 0;
    border-radius: 8px;
    width: 240px;
    height: 260px;

    /* 뉴몰피즘 */
    background-color: #eee;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
    6px 6px 10px rgba(0, 0, 0, 0.15);
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}