.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.label {
    font-size: 3rem;
    line-height: 54px;
    animation-name: textSlideIn;
    animation-duration: 0.5s;
}
@keyframes textSlideIn {
    /* 0% {
        letter-spacing: 1em;
        -webkit-filter: blur(10px);
        filter: blur(10px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    } */
}

.subLabel {
    opacity: 0.4;
    font-size: 1rem;
}